<div class="custom-catalog__form">
    <div class="flex flex-col gap-3">
        <div class="admin-panel__wrapper-title">
            <label class="admin-panel__title" for="form-title">Name</label>
        </div>
        <div class="admin-panel__widget">
            <div class="widget_narrow">
                <input class="text-input w-full" type="text" placeholder="Title" value="<%= item.name %>" name="name"
                       id="group-form-title" required/>
            </div>
        </div>
    </div>
    <form action="" id="form-group-fields">
        <% fields.forEach(field => {
		    let renderFields = item[field]
        -%>
            <div class="flex flex-col gap-3 mt-3">
                <div class="admin-panel__wrapper-title">
                    <label class="admin-panel__title" for="form-<%= field %>"><%= field.toUpperCase() %></label>
                </div>
                <div class="admin-panel__widget">
                    <div class="widget_narrow">
                        <input class="text-input w-full" type="text" placeholder="<%= field %>" value="<%= renderFields %>"
                               name="<%= field %>"
                               id="group-form-<%= field %>" required/>
                    </div>
                </div>
            </div>
        <% }) -%>
    </form>
    <div>
        <button class="btn btn-green" id="save-group">
            Save
        </button>
    </div>
</div>
<script>
	{
		let btn = document.getElementById('save-group')
        let formGroup = document.getElementById('form-group-fields')
		let item = <%- JSON.stringify(item) %>;
		btn.addEventListener('click', async function () {
			item.name = document.getElementById('group-form-title').value

			for (const el of formGroup.elements) {
                item[el.name] = el.value
			}
			// let res = await ky.post('', {json: {data: data, _method: 'createItem'}}).json()
			let res = await ky.put('', {json: {type: item.type, data: item, id: item.id, _method: 'updateItem'}}).json()
			if (res.data) document.getElementById('checkbox-ready').click()
		})
	}
</script>
