<%- include("head") %>
<%- include("headContent") %>
<% var config = adminpanel.configHelper.getConfig() %>

<script>
	var formStateProx = {
		hasError: false
	};
	var formState = new Proxy(formStateProx, {
		set: function (target, key, value) {
			let submitButton = document.getElementById("submit");
			if(submitButton && key === "hasError") {
				if (value === true) {
					submitButton.setAttribute("disabled", true);
				} else {
					submitButton.removeAttribute("disabled");
				}
			}
			target[key] = value;
			return true;
		}
	});
</script>

<div class="content__body">
    <div class="flex gap-3 mt-4">
        <% var actionType = 'add' %>
        <%- include("mixin/globalActions", {actionType: actionType}) %>
    </div>
    <div class="flex gap-3">
        <a href="<%= entity.uri %>/">
            <button class="btn btn-back">
                <i class="las la-long-arrow-alt-left"></i>
                <%= __("Back") %>
            </button>
        </a>
    </div>

    <form id="form" action="<%= entity.uri %>/add" method="POST" enctype="multipart/form-data">

        <%# global variables %>
        <script>
			var jsonEditor = {};
			var aceCounter = 0;
			let editor = [];
			let textarea = [];
			var tables = {};
        </script>
        <div class="mt-14 flex flex-col gap-10 max-w-[1144px]">
            <% Object.keys(fields).forEach(function(key) { %>
                <% if ((!config.showORMtime) && (key === 'createdAt' || key === 'updatedAt')) return %>
                <div class="flex flex-col gap-3">
                    <div class="admin-panel__wrapper-title">
                        <label class="admin-panel__title"
                               for="form-<%= key %>"><%= __(fields[key].config.title) %></label>
                        <% if(fields[key].config.tooltip) { %>
                            <div class="tooltip tooltip-right group cursor-pointer">
                                <i class="las la-info-circle text-blue-400"></i>
                                <div class="tooltip__content group-hover:visible group-hover:opacity-100">
                                    <span><%= __(fields[key].config.tooltip) %></span>
                                </div>
                            </div>
                        <% } %>
                    </div>
                    <% var field = fields[key] %>
                    <% var value = data[key] %>
                    <% if (field.config.description) { %>
                        <div class="admin-panel__description">
                            <%- __(field.config.description) %>
                        </div>
                    <% } %>
                    <div class="admin-panel__widget">
                        <%- include("mixin/fieldWidget", {field: field, value: value, key: key}) %>
                    </div>
                </div>
            <% }) %>
            <% if (adminpanel.configHelper.isCsrfEnabled()) { %>
                <div>
                    <input class="clr-input" type="hidden" name="_csrf" value="<%= _csrf %>"/>
                </div>
            <% } %>
            <span id="error-btn-submit-text" style="display: none"><b>One or more fields are filled in incorrectly</b></span>
            <p>
                <button class="btn btn-green" id="submit" onclick="submitForm()">
                    <%= __("Save") %>
                </button>
            </p>
        </div>
    </form>
</div>

<script>
	function checkInitSubmitFormStatus() {
		let submitButton = document.getElementById("submit");
		if(formState.hasError) {
			submitButton.setAttribute("disabled", true);
		}
	}
	checkInitSubmitFormStatus();
	function submitForm() {
		// Assign JSONEditor value to form textarea
		for (var id in jsonEditor) {
			try {
				var json = jsonEditor[id].get();
				$('#form-' + id).val(JSON.stringify(json));
			} catch (e) {
				alert('JSON is invalid.');
				$('#form-' + id).show().focus().hide();
				jsonEditor[id].focus();
				return false;
			}
		};
		for (var id in tables) {
			try {
				var schema = tables[id].getSchema();
				var table = tables[id].getData();
				table = table.filter(item => {
					return !([...new Set(item)].length === 1 && [...new Set(item)][0] === null);
				});
				if (schema && Object.keys(schema).length) {
					table = table.map((item) => {
						var newItem = {};
						var keys = Object.keys(schema);
						for (let i = 0; i < keys.length; i++) {
							newItem[keys[i]] = item[i];
						}
						return newItem;
					});
				} else {
					table = table.map((item) => {
						return [null].concat(item);
					});
				}
				$('#form-' + id).val(JSON.stringify(table));
			} catch (e) {
				alert('Table is invalid!');
				return false;
			}
		}
		document.getElementById('form').submit();
	}
</script>

<%- include("footer") %>
