<% include head %>
<% include headContent %>

<form id="addUserForm" action="<%= instance.uri %>/add" method="POST">
    <div class="layout">
        <h2><%= __("User settings") %></h2>
        <div class="clr-row">
            <div class="clr-col-sm-12 clr-col-md-6">
                <div class="admin-panel__widget">
                    <label class="admin-panel__title" for="userLogin"><%= __("Login") %></label>
                    <div class="widget_narrow" >
                        <input class="clr-input" type="text" id="userLogin" name="login">
                    </div>
                </div>

                <div class="admin-panel__widget">
                    <label class="admin-panel__title" for="fullName"><%= __("Full name") %></label>
                    <div class="widget_narrow" >
                        <input class="clr-input" type="text" id="fullName" name="fullName">
                    </div>
                </div>

                <div class="admin-panel__widget">
                    <label class="admin-panel__title" for="email"><%= __("E-mail") %></label>
                    <div class="widget_narrow" >
                        <input class="clr-input" type="text" id="email" name="email">
                    </div>
                </div>
            </div>

            <div class="clr-col-sm-12 clr-col-md-6">
                <div class="admin-panel__widget">
                    <label class="admin-panel__title" for="timezone"><%= __("Timezone") %></label>
                    <div class="widget_narrow" >
                        <select id="timezone" name="timezone">
                            <% for (let timezone of sails.config.adminpanel.timezones) { %>
                                <option id="<%= timezone.id %>"><%= timezone.name %></option>
                            <% } %>
                        </select>
                    </div>
                </div>

                <% if (req.session.UserAP.isAdministrator) { %>
                    <div class="admin-panel__widget">
                        <label class="admin-panel__title" for="date"><%= __("Profile expires") %></label>
                        <span class="badge badge-danger">Разредрить из настроек</span>
                        <div class="widget_narrow" >
                            <input class="clr-input" type="date" id="date" name="date">
                        </div>
                    </div>
                <% } %>

                <div class="admin-panel__widget">
                    <label class="admin-panel__title" for="locale"><%= __("Locale") %></label>
                    <div class="widget_narrow" >
                        <select id="locale" name="locale">
                            <% for (let locale of sails.config.adminpanel.translation.locales) { %>
                                <option><%= locale %></option>
                            <% } %>
                        </select>

                    </div>
                </div>

            </div>
        </div>


        <h2><%= __("Password") %></h2>
        <div class="clr-row">
            <div class="clr-col-sm-12 clr-col-md-6">
                <div class="admin-panel__widget">
                    <label class="admin-panel__title" for="email"><%= __("Password") %></label>
                    <div class="widget_narrow" >
                        <input class="clr-input" type="password" id="userPassword" name="userPassword">
                    </div>
                </div>

                <div class="admin-panel__widget">
                    <label class="admin-panel__title" for="email"><%= __("Password repeat") %></label>
                    <div class="widget_narrow" >
                        <input class="clr-input" type="password" id="repeatUserPassword" name="repeatUserPassword">
                    </div>
                </div>
            </div>
        </div>

        <% if (groups.length) { %>
            <h2><%= __("User groups") %></h2>
            <div class="clr-row">
                <div class="clr-col-sm-12 clr-col-md-6">
                    <div class="admin-panel__widget">
                        <% for (let group of groups) { %>
                            <div class="clr-checkbox-inline">
                                <label for="group-checkbox-<%= group.id %>"><%= group.name %></label>
                                <input type="checkbox" id="group-checkbox-<%= group.id %>" name="group-checkbox-<%= group.id %>">
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        <% } %>

        <div>
            <input class="clr-input" type="hidden" name="_csrf" value="<%= _csrf %>" />
        </div>

        <button raised="" class="btn-save" id="submit" onclick="submitForm()">
            <%= __("Save") %>
        </button>
    </div>
</form>

<script>
    function subminForm() {
        // check all fields
        // send timezone id instead of text
        $("#addUserForm").submit();
    }
</script>
