<% include head %>
<% var instance = {uri: sails.config.adminpanel.routePrefix + '/form/' + slug, config: {model: false} } %>
<% include headContent %>

<form id="form" action="<%- sails.config.adminpanel.routePrefix %>/form/<%= slug %>"
      method="POST" enctype="multipart/form-data">
    <div class="layout">
        <% Object.keys(formData).forEach(function(key) { %>
            <label class="admin-panel__title" for="form-<%=key%>"><%= formData[key].title %></label>
            <% if(formData[key].tooltip) { %>
                <a href="javascript:void(0)" role="tooltip" aria-haspopup="true" class="tooltip tooltip-md tooltip-top-right">
                    <i class="las la-info-circle"></i>
                    <span class="tooltip-content"><%= formData[key].tooltip %></span>
                </a>
            <% } %>
            <% if (formData[key].description) { %>
                <p><label><%= formData[key].description %></label></p>
            <% } %>
            <% var field = {} %>
            <% field.config = formData[key] %>
            <% field.model = {} %>
            <% var value = formData[key].value %>

            <div class="admin-panel__widget">
                <%- include("mixin/fieldWidget.ejs", {field: field, instance: instance, value: value, key: key}) %>
            </div>
        <% }) %>
        <% if (sails.config.security.csrf) { %>
            <div>
                <input type="hidden" name="_csrf" value="<%= _csrf %>" />
            </div>
        <% } %>
        <p>
            <button raised class="btn-save" id="submit" onclick="submitForm()">
                Сохранить
            </button>
        </p>
    </div>
</form>


