<% include head %>
<% include headContent %>

<script>
$(document).ready(function() {
    $('#list thead tr').clone(true).insertBefore( '#list thead tr' );
    $('#list thead tr:eq(0) th').each( function (i) {
        if (i === 0) return;
        $(this).html( '<input class="clr-input" type="text" placeholder="" />' );

        $( 'input', this ).on( 'keyup change', function () {
            if ( table.column(i).search() !== this.value ) {
                table
                    .column(i)
                    .search( this.value )
                    .draw();
            }
        } );
    } );

    var table = $('#list').DataTable( {
            "ajax": '<%=instance.uri%>/json',
            "sDom": 'Rfrtlip',
            fixedHeader: true,
            fixedColumns: true,
            scrollX:        true,
            responsive: true,
            language: {
                url: '/admin/assets/datatables/i18n/<%= req.session.UserAP.locale !== undefined ? req.session.UserAP.locale : "en" %>.json'
            },
            "columnDefs": [{
                targets: 0,
                render: function (data, type, row, meta) {
                    if (type === 'display') {
                        data = "";
                        if (<%- havePermission(`read-${instance.name}-instance`, req.session.UserAP) %>) {
                            data += '<a href="<%=instance.uri%>/view/'+row[0]+'"><i class="las la-eye"></i><%= __('View') %></a><br>';
                        }
                        if (<%- havePermission(`update-${instance.name}-instance`, req.session.UserAP) %>) {
                            data += '<a href="<%=instance.uri%>/edit/'+row[0]+'"><i class="las la-edit"></i><%= __('Edit') %></a><br>';
                        }
                        <% include mixin/list/inlineActions %>
                    }
                    return data;
                }
            }]
    } );
} );
</script>

<div class="horizontal layout">
    <div class="flex">
        <% var actionType = 'list' %>
        <% if (instance.config.add && havePermission(`create-${instance.name}-instance`, req.session.UserAP)) { %>
            <a href="<%=instance.uri%>/add" id="add">
                <button class="btn-add"><i class="las la-plus"></i><%= __('create') %></button>
            </a>
        <% } %>
        <% include mixin/globalActions %>
    </div>
</div>
<div class="layout">
    <table class="table" id="list">
        <thead>
            <tr>
                <th>
                    <%= __('Actions') %>
                </th>
                <% Object.keys(fields).forEach(function(key) { %>
                    <% var field = fields[key] %>
                    <th>
                        <%= field.config.title %>
                    </th>
                <% }) %>
            </tr>
        </thead>
    </table>
</div>

<% include footer %>
