<!DOCTYPE html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>


    <link rel="stylesheet" href="/admin/assets/styles/importer.css" />
    <link rel="stylesheet" href="/admin/assets/styles/custom.css" />

    <!-- fontawesome -->
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <!-- jquery -->
    <!-- clr -->
    <link rel="stylesheet" href="/admin/assets/styles/main.css" />


</head>
<body cds-text="body" cds-theme="dark" cds-layout="vertical gap:lg p:lg">

<div class="login-wrapper">
    <form class="login" method="post" action="/admin/model/userap/login">
       <%- include("mixin/alerts %>
        <section class="title">
            <h3 class="welcome"><%= __("Welcome") %>!</h3><%= __("Please log in") %>
        </section>
        <div class="login-group">
            <input class="clr-input" type="text" placeholder="<%= __("Login") %>" name="login"/>
            <input class="clr-input" type="password" placeholder="<%= __("Password") %>" name="password"/>
            <button class="btn btn-primary" type="submit"><%= __("Log in") %></button>
        </div>
    </form>
</div>
</body>
</html>
