<%- include ("head") %>
<%- include ("headContent") %>

<% var idField = adminpanel.configHelper.getIdentifierField(entity.config.model) %>

<div class="horizontal layout">
    <div class="flex">
        <% var actionType = 'view' %>
        <%- include ("mixin/globalActions %>
    </div>
</div>
<div class="layout">

    <div class="horizontal end-justified layout">
        <a href="<%= entity.uri %>/">
            <button raised class="btn">
                <i class="las la-undo"></i>
                <%= __("Back to list") %>
            </button>
        </a>
        <!--  !TODO добавить экшен на view -->
        <% if (entity.config.edit && havePermission(`update-${entity.name}-model`, req.session.UserAP)) { %>
            <a href="<%= entity.uri %>/edit/<%= record[idField] %>">
                <button raised class="button-green">
                    <i class="las la-plus"></i>
                    <%= __("Edit record") %>
                </button>
            </a>
        <% } %>
        <% if (entity.config.remove && havePermission(`delete-${entity.name}-model`, req.session.UserAP)) { %>
            <a href="<%= entity.uri %>/remove/<%= record[idField] %>" onclick="return confirm('Are you sure ?');">
                <button raised class="button-red">
                    <i class="las la-trash"></i>
                    <%= __("Remove record") %>
                </button>
            </a>
        <% } %>
    </div>

    <material elevation="1" page>
        <% Object.keys(fields).forEach(function(key) { %>
        <% var field = fields[key] %>
            <div class="layout horizontal field-row">
                <div class="field-name"><%= __(field.config.title) %></div>
                <div flex>
                    <%- include ("mixin/fieldValue %>
                </div>
            </div>
        <% }) %>
    </material>
</div>

<%- include ("footer") %>
