<!-- Ваш ejs-файл -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Install Stepper</title>

    <link rel="stylesheet" href="/admin/assets/build/style/style.min.css"/>
    <script src="/admin/assets/build/js/vue-installStepper.js"></script>
    
    <!--TODO: load from local bundle-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>    
</head>
<body>

<h1>Hello world from jsonforms</h1>
<p>totalStepCount: <%= totalStepCount %></p>
<p>leftStepsCount: <%= leftStepsCount %></p>
<p>currentStep: <%= JSON.stringify(currentStep) %></p>
<!-- style="display: none;" -->
<div class="content__body myform">
        <div id="installStep"></div>
        <div id="installStep2"></div>
        
	    <input type="hidden" id="installStepOutput">    
        <button class="btn btn-green skip" id="skip"  onclick="skipStep()">
            <%= __("Skip") %>
        </button> 
        <button class="btn btn-green" id="submit" disabled  onclick="sendDataToServer()">
            <%= __("Next") %>
        </button> 

    <script>
		var currentStepData = <%- JSON.stringify(currentStep) %>;

        if(currentStepData.payload.type === "multi"){
            currentStepData.jsonSchema = currentStepData.payload.jsonSchema
            currentStepData.uiSchema = currentStepData.payload.uiSchema
        } 

        if(currentStepData.payload.type === "single"){
            currentStepData.uiSchema = currentStepData.payload.data.uiSchema
            currentStepData.jsonSchema = currentStepData.payload.data.jsonSchema
        }
        
        let skipButton = document.getElementById("skip");

        // currentStepData.canBeSkipped = true
        if(!currentStepData.canBeSkipped) {
            skipButton.style.display = "none";
        } else {
            skipButton.style.display = "inline";
        }
        // hidden

        
		MountJSONForm({
			mountDivId: '#installStep',
			uiSchema: currentStepData.uiSchema,
            jsonSchema: currentStepData.jsonSchema,
            mountDivOutput: 'installStepOutput',
            validationCallback: (status) => {
                let submitButton = document.getElementById("submit");
                if (status === true) {
					submitButton.setAttribute("disabled", true);
				} else {
					submitButton.removeAttribute("disabled");
				}
            },
		})
        
        function sendDataToServer() {
            let installStepOutput = document.getElementById("installStepOutput").value;
            let dataToSend = JSON.parse(installStepOutput);

            let obj = {}
            if(currentStepData.payload.type  === "single"){
                obj[currentStepData.payload.data.key] = dataToSend;
            }

            if(currentStepData.payload.type === "multi"){
                for(let key in dataToSend){
                    obj[key] = dataToSend[key];
                }
            }

            let recieve = {
                inputData: JSON.stringify(obj), 
                action: "next",
                currentStepId: currentStepData.id
            }
        
            axios.post(`<%- sails.config.adminpanel.routePrefix %>/processInstallStep`, recieve)
                .then(response => {
                 location.reload();
                 console.log('Data sent successfully:', response.data);
                })
                .catch(error => {
                console.error('Error sending data:', error);
            });    
        }

        function skipStep(){
            // currentStepData.canBeSkipped
            let recieve = {
                action: "skip",
                currentStepId: currentStepData.id
            }

            axios.post(`<%- sails.config.adminpanel.routePrefix %>/processInstallStep`, recieve)
                .then(response => {
                location.reload();
                 console.log('Data sent successfully:', response.data);
                })
                .catch(error => {
                  console.error('Error sending data:', error);
            });
        }

    </script>
</div>

</body>
</html>

