<h1>Hello world from jsonforms</h1>
<p>totalStepCount: <%= totalStepCount %></p>
<p>leftStepsCount: <%= leftStepsCount %></p>
<p>currentStep: <%= JSON.stringify(currentStep) %></p>

<script src="/admin/assets/build/js/vue-installStepper.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<div class="content__body">
    <!-- action=`<%- sails.config.adminpanel.routePrefix %>/processInstallStep` -->
    <form id="form" action= '<%- sails.config.adminpanel.routePrefix %>/processInstallStep' method="POST"
        enctype="multipart/form-data">
        <div id="installStep"></div>
        <div id="installStep2"></div>
        
	    <input type="hidden" id="installStepOutput">    
        <button class="btn btn-green" id="submit" disabled>
            <%= __("Next") %>
        </button> 
    </form>
    
    <script>
	
		var currentStepData = <%- JSON.stringify(currentStep) %>;
		
        if(currentStepData.payload.type === "multi"){
            currentStepData.jsonSchema = currentStepDatap.payload.jsonSchema
            currentStepData.uiSchema = currentStepData.payload.uiSchema
        } 

        if(currentStepData.payload.type === "single"){
            currentStepData.uiSchema = currentStepData.payload.data.uiSchema
            currentStepData.jsonSchema = currentStepData.payload.data.jsonSchema
        }
        
		MountJSONForm({
			mountDivId: '#installStep',
			uiSchema: currentStepData.uiSchema,
            jsonSchema: currentStepData.jsonSchema,
            mountDivOutput: 'installStepOutput',
            validationCallback: (status) => {
                let submitButton = document.getElementById("submit");
                if (status === true) {
					submitButton.setAttribute("disabled", true);
				} else {
					submitButton.removeAttribute("disabled");
				}
            },
		})
        

    </script>
</div>
