<h1>Hello world from jsonforms</h1>
<p>totalStepCount: <%= totalStepCount %></p>
<p>leftStepsCount: <%= leftStepsCount %></p>
<p>currentStep: <%= JSON.stringify(currentStep) %></p>

<script src="/admin/assets/build/js/vue-installStepper.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<div class="content__body">
    <div id="installStep">
        <button onclick="sendDataToServer()">SENDaaaaaaaa</button>
    </div>
	<div id="installStep2"></div>

	<input style="visibility: hidden" id="installStepOutput">

	<button onclick="sendDataToServer()">SEND</button>
    <script>
		var currentStepData = <%- JSON.stringify(currentStep) %>;
		
		MountJSONForm({
			mountDivId: '#installStep',
			step: currentStepData,
            currentStepCount: <%= totalStepCount %> - <%= leftStepsCount %>,
            mountDivOutput: 'installStepOutput',
		})

        function sendDataToServer() {
            let installStepOutput = document.getElementById("installStepOutput").value;

            let dataToSend = JSON.parse(installStepOutput);

            axios.post(`<%- sails.config.adminpanel.routePrefix %>/processInstallStep`, dataToSend)
                .then(response => {
                 location.reload();
                 console.log('Data sent successfully:', response.data);
                })
                .catch(error => {
                console.error('Error sending data:', error);
            });    
          
        }

    </script>
</div>
