<h1>Hello world from jsonforms</h1>
<p>totalStepCount: <%= totalStepCount %></p>
<p>leftStepsCount: <%= leftStepsCount %></p>
<p>currentStep: <%= JSON.stringify(currentStep) %></p>

<script src="/admin/assets/build/js/vue-installStepper.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<div class="content__body">
    <div id="installStep">
        <button onclick="sendDataToServer()">SEND</button>
    </div>
	<div id="installStep2"></div>

	<input style="visibility: hidden" id="installStepOutput">
	<!-- <input style="visibility: hidden" id="installStepOutput2"> -->

	<button onclick="sendDataToServer()">SEND</button>
    <script>
		// Pass variables from EJS to the script
		var currentStepData = <%- JSON.stringify(currentStep) %>;
		// console.log(currentStepData, " currentStepData")
		// console.log(currentStepData.payload, " currentStepData.payload")
		
		MountJSONForm({
			mountDivId: '#installStep',
			step: currentStepData,
		})

		// MountJSONForm({
		// 	mountDivId: '#installStep2',
		// 	step: currentStepData,
		// })

		// `<%- sails.config.adminpanel.routePrefix %>/processInstallStep`,
		
        
        
        function sendDataToServer() {
            let installStepOutput = document.getElementById("installStepOutput").value;

            let dataToSend = JSON.parse(installStepOutput);

            axios.post(`<%- sails.config.adminpanel.routePrefix %>/processInstallStep`, dataToSend)
                .then(response => {
                 location.reload();
                 console.log('Data sent successfully:', response.data);
                })
                .catch(error => {
                console.error('Error sending data:', error);
            });    
          
        }

    </script>
</div>
