<textarea
        <%= field.config.required && 'required' %>
        <%= field.config.disabled && 'disabled'%>
        name="<%= key %>"
        id="form-<%= key %>" hidden>
    <%=value%>
</textarea>
<span class="selectPure-<%= key %>"></span>

<script>
    let options<%=key%> = [];
    let selectedOptions<%=key%> = [];
    let label<%=key%>;

    <% if (field.config.records && field.config.records.length) { %>
        <% for (let opt of field.config.records) { %>
            <% if (adminpanel.viewHelper.isOptionSelected(opt[field.config.identifierField], value)) { %>
                selectedOptions<%=key%>.push("<%= opt[field.config.identifierField] %>");
            <% } %>
            <% if (field.config.displayModifier && typeof field.config.displayModifier === 'function') { %>
                label<%=key%> = "<%= field.config.displayModifier(opt) %>"
            <% } else if (field.config.displayField) { %>
                label<%=key%> = "<%= opt[field.config.displayField] %>"
            <% } else { %>
                label<%=key%> = "<%= opt[field.config.identifierField] %>"
            <% } %>
            options<%=key%>.push({label: label<%=key%>, value: "<%= opt[field.config.identifierField] %>"})
        <% } %>
    <% } else { %>
        options<%=key%>.push({label: "--- No records found ---", value: ""})
    <% } %>

    let <%=key%> = new SelectPure(".selectPure-<%= key %>", {
        options: options<%=key%>,
        autocomplete: true,
        value: selectedOptions<%=key%>,
        icon: "la la-times",
        multiple: true,
        onChange: function(value) {
            $('#form-<%= key %>').val(value)
        }
    });
</script>
