<textarea
        <%= field.config.required && 'required' %>
        <%= field.config.disabled && 'disabled'%>
        name="<%= key %>"
        id="form-<%= key %>" hidden>
    <%=value%>
</textarea>
<span class="selectPure-<%= key %>"></span>

<script>
    let options<%=key%> = [];
    let selectedOption;
    let label;

    if (!<%= field.config.required %>) {
        options<%=key%>.push({label: "--- Select please ---", value: ""})
    }

    if (<%- JSON.stringify(field.config.records) %>) {
        <% for (let opt of field.config.records) { %>
        if (<%= adminpanel.viewHelper.isOptionSelected(opt[field.config.identifierField], value) %>) {
            selectedOption = "<%= opt[field.config.identifierField] %>";
        }
        if (<%= field.config.displayModifier && typeof field.config.displayModifier === 'function' %>) {
            label = "<%= field.config.displayModifier(opt) %>"
        } else {
            label = "<%= opt[field.config.displayField] %>"
        }
        options<%=key%>.push({label: label, value: "<%= opt[field.config.identifierField] %>"})
        <% } %>
    } else {
        options<%=key%>.push({label: "--- No records found ---", value: ""})
    }

    let <%=key%> = new SelectPure(".selectPure-<%= key %>", {
        options: options<%=key%>,
        autocomplete: true,
        value: selectedOption,
        onChange: function(value) {
            $('#form-<%= key %>').val(value)
        }
    });
</script>