<textarea
        <%= field.config.required && 'required' %>
        <%= field.config.disabled && 'disabled'%>
        name="<%= key %>"
        id="form-<%= key %>" hidden><%=value%></textarea>
<span class="selectPure-<%= key %>"></span>

<script>
    let options<%=key%> = [];
    let selectedOption<%=key%>;
    let label<%=key%>;

    <% if (!field.config.required) { %>
        options<%=key%>.push({label: "--- Nothing selected ---", value: "null"})
    <% } %>

    <% if (field.config.records && field.config.records.length) { %>
        <% for (let opt of field.config.records) { %>
            <% if (opt[field.config.identifierField] === value) { %>
                selectedOption<%=key%> = "<%= opt[field.config.identifierField] %>";
            <% } %>
            <% if (field.config.displayModifier && typeof field.config.displayModifier === 'function') { %>
                label<%=key%> = "<%= field.config.displayModifier(opt) %>"
            <% } else if (field.config.displayField) { %>
                label<%=key%> = "<%= opt[field.config.displayField] %>"
            <% } else { %>
                label<%=key%> = "<%= opt[field.config.identifierField] %>"
            <% } %>
            options<%=key%>.push({label: label<%=key%>, value: "<%= opt[field.config.identifierField] %>"})
        <% } %>
    <% } else { %>
        options<%=key%>.push({label: "--- No records found ---", value: ""})
    <% } %>

    console.log(options<%=key%>[0])

    let <%=key%> = new SelectPure(".selectPure-<%= key %>", {
        options: options<%=key%>,
        autocomplete: true,
        value: selectedOption<%=key%>,
        icon: "glyphicon glyphicon-remove",
        onChange: function(value) {
            $('#form-<%= key %>').val(value)
        }
    });
</script>
