<%= (field.model.type !== 'json') && __(`Model field type not allowed current (${field.model.type}) expected (json)`) %>

<textarea
        <%= field.config.required && 'required' %>
        <%= field.config.disabled && 'disabled'%>
        name="<%= key %>"
        id="form-<%= key %>" hidden><%=value%></textarea>
<span class="selectPure-<%= key %>"></span>
<script>
    let options<%=key%> = [];
    let selectedOptions<%=key%> = [];
    let label<%=key%>;
    <% if (!Array.isArray(isIn)) { %>
        <% for (let opt in isIn) { %>
           
            <% if (adminpanel.viewHelper.isOptionSelected(opt, value)) { %>
                selectedOptions<%=key%>.push("<%= opt %>");
            <% } %>

            <% if (field.config.displayModifier && typeof field.config.displayModifier === 'function') { %>
                label<%=key%> = "<%= __(field.config.displayModifier(opt)) %>"
            <% } else { %>
                label<%=key%> = "<%= __(isIn[opt]) %>"
            <% } %>
            
            options<%=key%>.push({label: label<%=key%>, value: "<%= opt %>"})
        <% } %>
    <% } else { %>
        <% isIn.forEach(opt => { %>
            <% if (adminpanel.viewHelper.isOptionSelected(opt, value)) { %>
                selectedOptions<%=key%>.push("<%= opt %>");
            <% } %>

            <% if (field.config.displayModifier && typeof field.config.displayModifier === 'function') { %>
                label<%=key%> = "<%= __(field.config.displayModifier(opt)) %>"
            <% } else { %>
                label<%=key%> = "<%= __(opt) %>"
            <% } %>

            options<%=key%>.push({label: label<%=key%>, value: "<%= opt %>"})

        <% }) %>
    <% } %>
                
    let <%=key%> = new SelectPure(".selectPure-<%= key %>", {
        options: options<%=key%>,
        autocomplete: true,
        value: selectedOptions<%=key%>,
        icon: "la la-times",
        multiple: true,
        onChange: function(value) {
            $('#form-<%= key %>').val(value)
        }
    });
</script>
