<div class="widget">
    <%= field.config.title %>&nbsp;
    <select name="<%= key %>" id="form-<%= key %>"
        <%= field.config.required && 'required' %>
        <%= field.config.disabled && 'disabled'%>>

        <% if (field.config.isIn && typeof field.config.isIn === 'object') { %>
            <% Object.keys(field.config.isIn).forEach(function(optKey) { %>
                <% var opt = field.config.isIn[optKey] %>
                    <option value="<%= optKey%>"
                        <%= (optKey === value) && 'selected' %>> <%= opt %> </option>
            <% }) %>
        <% } else { %>
            <% field.model.isIn.forEach(function(opt) { %>
                <option value="<%= opt %>"
                    <%= (opt === value) && 'selected' %>><%= opt %></option>
            <% }) %>
        <% } %>
    </select>
</div>
