<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Install Stepper</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }
    </style>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Install Stepper</title>

    <link rel="stylesheet" href="/admin/assets/build/style/style.min.css"/>
    <script src="/admin/assets/build/js/vue-installStepper.js"></script>

    <!--TODO: load from local bundle-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<script>
    var currentStepData = <%- JSON.stringify(currentStep) %>;
</script>

<body class="bg-gray-100">
<div class="max-w-4xl mx-auto py-12">
    <div class="bg-white shadow rounded-lg p-6">

        <script>
            console.log(<%- JSON.stringify(currentStep) %>)
        </script>

        <div class="max-w-4xl mx-auto py-12">
            <div class="p-6 flex items-center border-b-2 border-gray-300">
                <div class="text-left">
                    <h1 class="text-2xl font-medium text-gray-800"><%= currentStep.title %></h1>
                </div>
                <div class="ml-auto">
                    <span class="text-lg font-medium text-gray-800">Step <%= totalStepCount - leftStepsCount + 1 %></span>
                    <span class="text-sm text-gray-500">of <%= totalStepCount %></span>
                </div>
            </div>
            <div class="p-6 flex items-center">
                <div class="text-left">
                    <h2 class="font-medium text-gray-500"><%= currentStep.description %></h2>
                </div>
                <% if (currentStep.badge) { %>
                    <div class="ml-auto">
                        <span class="bg-blue-500 text-white text-xs px-2 py-1 rounded-full mb-2 block whitespace-nowrap">
                            <%= currentStep.badge %>
                        </span>
                    </div>
                <% } %>
            </div>
        </div>
