<% if (adminpanel.menuHelper.hasInlineActions(entity.config, 'list')) { %>
    <% var actions = adminpanel.menuHelper.getInlineActions(entity.config, 'list') %>
    <% if (actions && actions.length > 0) { %>
        <% actions.forEach(function(action) { %>
            <% if (havePermission(action.accessRightsToken, req.session.UserAP)) { %>
                <%# print data into list.ejs inline action %>
                data += '<a href="<%= action.link %>/'+row[0]+'?id='+row[0]+'&entity=<%= entity.name %>" id="<%= action.id %>"><i class="las la-<%= action.icon %>"></i><%= __(action.title) %></a><br>';
            <% } %>
        <% }) %>
    <% } %>
<% } %>
