<% var sections = (adminpanel.configHelper.getConfig()).sections %>
<% var routePrefix = (adminpanel.configHelper.getConfig()).routePrefix %>

<% if (Array.isArray(sections)) { %>
  <nav class="subnav">
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" <% if (section && section === "adminpanel") { %> active <% } %> href="<%=routePrefix%>"><i class="las la-sliders-h"></i>  <%= __("Adminpanel") %></a>
        </li>
        <% sections.forEach(function(itemSection) { %>
          <% if (itemSection.link && itemSection.title) { %>
          <li class="nav-item">
            <a class="nav-link" <% if ( itemSection.id && section == itemSection.id) { %>active<% } %> href="<%=itemSection.link%>"><% if (itemSection.icon) { %> <i class="las la-<%=itemSection.icon%>"></i><% } %> <%= __(itemSection.title) %></a>
          </li>
          <% } %>
        <% }) %>
      </ul>
  </nav>
<% } %>